.container {
  text-align: center;
  margin-top: 150px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  color: #8B0000; 
  margin-bottom: 30px;
}

.ticketButton {
  font-size: 28px;
  padding: 15px 40px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.ticketButton:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}